body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  color: #666;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.small {
  letter-spacing: .1em;
  margin: 0px 0px 24px;
  font-size: 4vw;
}

.big {
  letter-spacing: .25em;
  font-size: 8vw;
  margin: 0;
}
